@page
@model MyApp.Namespace.recuperacionUsuarioModel
@{
}
<div class="justify-content-center text-center">
    <h1>Ingrese su correo electronico para restablecer credencial de ingreso</h1>
</div>

<form method="post">
    <label asp-for="Login.usuario" class="control label"></label>
    <input aspo-for="Login.usuario" class="form-control">
</form>