@page
@model MyApp.Namespace.registroNuevoModel
@{
}
<div class="justify-content-center text-center">
    <h1>Ingrese su datos para ingresar como primer registro</h1>
</div>

<form method="post">
    <label asp-for="Persona.tipoIdentificacion" class="control label"></label>
    <input aspo-for="Persona.tipoIdentificacion" class="form-control">

    <label asp-for="Persona.identificacion" class="control label"></label>
    <input aspo-for="Persona.identificacion" class="form-control">

    <label asp-for="Persona.correo" class="control label"></label>
    <input aspo-for="Persona.correo" class="form-control">

    <label asp-for="Persona.nombres" class="control label"></label>
    <input aspo-for="Persona.nombres" class="form-control">

    <label asp-for="Persona.apellidos" class="control label"></label>
    <input aspo-for="Persona.apellidos" class="form-control">

    <label asp-for="Persona.fecha_nacimiento" class="control label"></label>
    <input aspo-for="Persona.fecha_nacimiento" class="form-control">

    <label asp-for="Persona.genero" class="control label"></label>
    <input aspo-for="Persona.genero" class="form-control">

    <label asp-for="Login.usuario" class="control label"></label>
    <input aspo-for="Login.usuario" class="form-control">

     <label asp-for="Login.password" class="control label"></label>
    <input aspo-for="Login.password" class="form-control">

</form>