@page
@model MyApp.Namespace.usuarioRevisionModel
@{
}
<div class="justify-content-center text-center">
    <h1>Bienvenido</h1>
</div>

<form method="post">
    <label asp-for="Login.Usuario" class="control label"></label>
    <input aspo-for="Login.Usuario" class="form-control">
</form>